@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$primary: #152a49;
$secondary: #833bd4;
$font-color: #fdeded;
$input-color:	#D3D3D3;
$input-background: #2b55ad;
$button-background: #419e58;
$primary-font-family:'Roboto', sans-serif; 
$secondary-font-family:sans-serif;